<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.splunk.splunkd</string>
    <key>Program</key>
    <string>/Users/mike/splunk/bin/splunkd</string>
    <key>Arguments</key>
    <array>
        <string>start</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/mike/splunk/var/log/splunk/launchd.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/mike/splunk/var/log/splunk/launchd-error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>SPLUNK_HOME</key>
        <string>/Users/mike/splunk</string>
        <key>SPLUNK_DB</key>
        <string>/Users/mike/splunk/var/lib/splunk</string>
    </dict>
</dict>
</plist>
